.bottom {
  background-color: #2D0A3D;
  width: 100%;
  height: 100px;
  margin-top: auto;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.api-error {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 0px;
  font-size: large;
  color: red;
}

@media screen and (max-width: 680px) {
  .api-error {
      margin-left: 50px;
      margin-right: 50px;
  }
}